---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Page not found">
   <div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl text-center">
        404 - Page not found - Esta página no existe
    </h1>
   </div>
</Layout>
