---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pagina about">
    <h1 class="text-white  font-bold text-5xl">About the project</h1>

    <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam dignissimos sint eaque necessitatibus. Voluptatibus quasi soluta velit minus dolorem excepturi officia dolor dolore, perferendis pariatur quos aliquam maiores. Rerum, quo.</p>
</Layout>
